*{
    box-sizing: border-box;
    /* margin: 10px; */
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
}
a{
    color: #262626;
    text-decoration: none;
}

ul{
    list-style: none;
}
.container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
}
/* nav  */
.main-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
}
.main-nav .logo{
    width: 110px;
    margin-left: 40px;
}

.main-nav ul{
    display: flex;
}
.main-nav ul li{
    padding: 0 10px;
}
.main-nav ul li a{
    padding-bottom:2px ;
}
.main-nav ul li a:hover{
    border-bottom: 2px solid #262626;
}
.main-nav ul.main-menu{
    flex: 1;
    margin-left: 20px;
}
.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
}
.btn:hover{
    opacity: 0.8;
}
/* showcase  */
.sh-img{
    /* margin: 10px 80px 10px 80px; */
    /* margin-left: 30px; */
    margin-top: 2vh;
    /* width: 90px; */
    /* margin-left:  2vw; */
    
    /* margin-right: -20px; */
    position: relative;

}
.showcase{
    width: 86vw;
    /* z-index: -80vh; */
    position: absolute;
    overflow:visible ;
    /* overflow-wrap: break-word; */
    box-sizing:content-box ;
    /* border-radius: 5px; */
    background-color: rgb(245, 245, 245);
    /* box-shadow: 20pc; */
    
    /* height: 220px; */
    /* background: url("Microsoft-Teams-Commercial.jpg.webp") no-repeat center center; */
    /* display: flex; */
    /* flex-direction: column; */
    align-items: left;
    justify-content: left;
    text-align: left;
    padding:20px 0 10px 20px;
    margin-top: -80px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2vh;
}
 .showcase h2, .showcase p{
    margin-bottom: 10px;
    /* color: rgb(190, 20, 20); */
    /* background-color: aqua; */
}
.showcase .btn{
    margin-top: 5px;
    width: 10vw;
}
.new{
    color: rgb(123, 60, 15);
}
.icons{
    /* margin-left: 200px; */
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: underline;
}
/* home cards  */
.home-cards{
position: relative;
margin-top: 40px;

display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 20px;
}
.home-cards img{
    margin-top: 2vh;
    /* margin-right: 2vw; */
    /* margin-left: 2vw; */
    /* margin-right: 2vw; */
    width: 100%;
    margin-bottom: 10px;
}
.home-cards h4 p{
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.home-cards a{
display: inline-block;
padding-top: 10px;
color:  rgb(123, 60, 15);
/* text-transform: uppercase; */
font-weight: bold;
}
.home-cards a:hover{
margin-left: 10px;    
}
/* showcase2  */
.sh-img2{
    position: relative;
    margin-left: 2vw;
    width: 50vw;
    margin-top: 10vh;
} 

.showcase-2{
     width: 30vw;
     height: 40vh;
     position: absolute;
     overflow: visible;
     box-sizing:content-box ;
     /* border-radius: 5px; */
     background-color:white;
     /* height: 50vh; */
     /* background: url("gldn-MSFT-hero-Edge_VP4-1260x600.avif") no-repeat; */
     /* display: flex; */
     /* flex-direction: column; */
     align-items: left;
     justify-content: left;
     text-align: left;
     padding:20px 0 10px 20px;
     margin-top: -440px;
     margin-left: 5vw;
     /* margin-right: 5vw; */
     margin-bottom: 2vh;
 }
 .showcase-2 .btn{
    margin: 20px 0 20px;
    width: 13vw;
    justify-content: center;
    padding-left: 20px;
 }
 /* home cards 2  */
 .home-cards-2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* margin-top: 5vh; */
    position: relative;
    }
    .hc-2{
        margin-top:  5vh;
        margin-bottom: 2vh;

    }
    .home-cards-2 img{
        width: 100%;
        /* margin-top: 1vh; */
        margin-bottom: 2vh;
    }
    .home-cards-2 h4{
        margin-bottom: 5px;
    }
    .home-cards-2 a{
    display: inline-block;
    padding-top: 10px;
    color:  rgb(123, 60, 15);
    /* text-transform: uppercase; */
    font-weight: bold;
    }
    .home-cards-2 a:hover{
    margin-left: 10px;    
    }
    /* follow  */
    .follow{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: flex-start;
        margin: 30px 0 30px 30px;
        
    }
    .follow p{
        font-weight: bold;

    }
    /* links  */
    .links{
        background:#e9e8e8;
        /* color: #616161; */
        font-size: 10px;
        padding: 35px 0;
        margin-left: -8px;
        margin-right: -8px;
    }
    .links-inner{
        max-width: 1100px;
        margin-left: 80px;
        padding: 0 20px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 80px;
        align-items: left;
        justify-content: left;
    }
    /* .links li{
        line-height: 2.8;
    } */
    /* footer  */
    .footer{
        background:#e9e8e8;
        /* color: #616161; */
        font-size: 10px;
        padding: 20px 0;
        background:cover;
        margin-left: -8px;
        margin-right: -8px;
        margin-bottom: -8px;
    }
    .footer-inner{
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 20px 0 20px;
        display: flex;
        align-items: left;
        justify-content: space-between;
    }
    .footer div{
        margin-bottom: 20px;
    }
    .footer ul{
        display: flex;
        flex-wrap: wrap;
    }
    .footer li{
        margin-right: 6vw;
        margin-bottom: 2vh;

    }
